<mat-toolbar>
  <button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async"
    aria-label="Toggle sidenav"
    mat-icon-button
    type="button">
    <mat-icon aria-label="Side nav toggle icon" color="primary" style="color: #117B8C">menu</mat-icon>
  </button>
  <div class="row w-100">
    <div class="col pt-1">{{ currentPage | uppercase }}</div>
    <div class="col text-right d-inline-block">
      <button [disabled]="true" mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
      <button [matMenuTriggerFor]="auth" mat-icon-button>
        <mat-icon color="primary" style="color: #117B8C">person_outline</mat-icon>
      </button>
      <mat-menu #auth="matMenu">
        <button [disabled]="true" mat-menu-item>
          <mat-icon>person_outline</mat-icon>
          <span>Profile</span>
        </button>
        <mat-divider></mat-divider>
        <button (click)="onLogout()" mat-menu-item style="color: #117B8C">
          <mat-icon color="primary" style="color: #117B8C">exit_to_app</mat-icon>
          <span>Sign out</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
