<nav class="navbar navbar-expand-md navbar-light fixed-top bg-white">
  <a class="navbar-brand font-weight-bolder navbar-logo"><span style="color: #ee5a9b">Fut</span><span style="color: #36bed2">link</span></a>
  <button class="navbar-toggler d-lg-none" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
    </ul>
    <a class="pr-5">Hello {{userName || '' | titlecase}}</a>
    <button class="btn fut-btn my-2 my-sm-0" style="background-color: #00120B; color: white" (click)="onLogout()">Logout</button>
  </div>
</nav>
