<div class="alert alert-danger" role="alert" *ngIf="isPositionError">
  <p class="font-weight-bolder">Please, enable position on your device and Refresh the page.</p>
  <p>In order to find ranked or friendly match, you need to activate the position of your Web / phone device.</p>
  <div class="row ">
    <div class="col-12 d-flex justify-content-end">
      <button (click)="onActivatePosition()" color="accent" mat-raised-button style="position:relative;">
        <mat-icon>gps_fixed</mat-icon>
        Activate position
      </button>
    </div>
  </div>
</div>
