.area-card-btn {
  position: relative;
  float: right;
  color: #00120B;
}

.pink {
  background-color: #E83E8C;
}

.blue {
  background-color: #17A2B8;
}

.green {
  background-color: #81F495;
}

.yellow {
  background-color: #C7EF00;
}

