<div class="card-group">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-4">
    <app-area-card [imageSource]="'../../../assets/images/cards/friendly.jpeg'"
                   [imageAlt]="'friendly'"
                   [cardParagraphContent]="'Find a Friendly match. This is the best place to meet new players without loosing Rank'"
    ></app-area-card>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-4">
    <app-area-card [imageSource]="'../../../assets/images/cards/ranked.jpg'"
                   [imageAlt]="'competitive ranked'"
                   [cardParagraphContent]="'Find a Competitive Ranked match. You can play alone or with your friends'"
    ></app-area-card>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 py-4">
    <app-area-card [imageSource]="'../../../assets/images/cards/statistics.jpg'"
                   [imageAlt]="'statistics'"
                   [cardParagraphContent]="'Statistics of all your ranked matches. With detailed data'"
    ></app-area-card>
  </div>
</div>
