<div class="container-fluid h-100 vertical-center">
  <div class="row text-center">
    <div class="col">
      <img src="../../assets/images/logo/logo_size.jpg">
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col col-md-8 col-lg-4 center-block">
      <app-auth-button [authProvider]="'google'" (click)="loginWithGoogle()"></app-auth-button>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col col-md-8 col-lg-4">
      <app-auth-button [authProvider]="'facebook'"></app-auth-button>
    </div>
  </div>
</div>
