<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false"
               class="sidenav"
               fixedInViewport>

    <mat-nav-list>
      <div class="row px-2 mx-0 pb-2">
      </div>
    </mat-nav-list>
    <div class="pt-5">
      <app-sidenav-list></app-sidenav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-navbar [drawer]="drawer"></app-navbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-loading-overlay *ngIf="isLoading"></app-loading-overlay>
